[Unit]
Description=Prepare and Mount Incus Docker Storage Volume
Before=docker.service
Wants=local-fs.target
After=local-fs.target
ConditionPathExists=/run/agentor/docker-storage.json

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/agentor/agentor-docker-storage.sh

[Install]
WantedBy=multi-user.target
